h2 {text-align : center;}
 
form legend {
    color:black;
    font-size : 200%;
    text-shadow : 0px 0px 10px grey; 
}
#intro{
    color : rgb(248, 145, 61);
    font-size : 140%;
    text-shadow : 0px 0px 15px rgb(255, 195, 66);
}
#table {
    border-collapse: collapse;
    text-align : center;
    width : 300px;
}
fieldset {
    background : rgb(238, 249, 255);
}
.box2{
    background : rgb(238, 249, 255)
}
table {
    background : white;
}
ul > fieldset {
    background : white;
}
.title {
    font-size : 150%;
    text-decoration : none;
}
.title:hover {
    font-size : 150%;
    text-decoration : none;
    color : rgb(245, 103, 126);
}
article sub{
    font-size : 70%;
}